:root {
  display: flex;
  width: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.App{
  display: flex;
  width: 100%;
  padding: 1em;
  background-color: burlywood;
  flex-flow: column nowrap;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.add-scout {
  width: 15vw;
  display: flex;
  flex-flow: column nowrap;
}
.get-scouts{
  width: 95vw;
  display: flex;
  flex-flow: row wrap;
  margin: 2em;
}
.card{
  height: 12em;
  width: 12em;
  margin: 1.5em;
  outline: .25em solid darkgreen;
  background-color: forestgreen;
  color: darkgreen;
}
